@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 2. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
    display: block;
   }

   /* Force scrollbar */
   html { overflow-y: scroll; }

   /* Align radios and text inputs with their label */

   input[type='radio'] { vertical-align: text-bottom; }

   /* Hand cursor on clickable input elements */
   label,
   input[type='button'],
   input[type='submit'],
   button {
    cursor: pointer;
   }

   strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
   }

   em { font-style: italic; }

   img {
    border: 0;
    vertical-align: middle;
   }

   sub,
   sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
   }

   sup { top: -.7em; }

   sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }


/* COMMON STYLING */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  width: 96.89%;
  margin: 0 auto;
  max-width: 1500px;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }
.capitalize { text-transform: capitalize; }

.transition {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

/* COMMON CLASSES */

.section-header {
  font-size: 30px;
  color: #272e3f;
  font-weight: 700;
  letter-spacing: 1px;
}

.section-description {
  margin-top: 21px;
  color: #5D6877;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.6px;
  word-spacing: -1px;
}

.free-trial {
  padding: 13px 30px 11px;
  color: #eef4fd;
  background-color: #127c84;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}

.cancel {
  margin-top: 7px;
  color: #5b6575;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.free-trial:hover {
  background-color: #eef4fd;;
  color: #127c84;
}

/* HEADER */
header {
  background-color: #faf8fd;
}

header .wrapper {
  width: 96.89%;
  margin: 0 auto;
}

.header-left {
  padding: 14px 0 8px;
  display: inline-block;
}

.hamburger {
  display: inline-block;
}

.hamburger nav {
  display: none;
}

.ham {
  color: #5d7e84;
  font-size: 16px;
}

.hamburger:hover nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #999;
}

.hamburger:hover nav li {
  display: block;
  text-align: center;
  border-bottom: 1px solid #007b83;
  padding-bottom: 5px;
}

.hamburger:hover nav li:last-child {
  border-bottom: none;
}

.hamburger:hover nav a {
  color: #2d2c38;
}

.hamburger:hover nav a:hover {
  color: #007bb3;
}


h1 {
  width: 36%;
  margin-left: 12px;
  display: inline-block;
  vertical-align: middle;
}

h1 a {
  text-indent: -9999px;
}

h1 img {
  float: right;
}


.header-right {
  padding: 4px 0 5px;
  display: inline-block;
  float: right;
}

.header-right a:first-child {
  padding: 14px 26px 14px;
  background-color: #dce9f2;
  color: #eef4fd;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
}

.header-right a:first-child:hover {
  background-color: #267986;
  color: #e3f6fa;
}

.header-right a:last-child {
  box-sizing: border-box;
  padding: 13px 26px 12px;
  border: 1px solid #82999b;
  margin-left: 9px;
  border-radius: 4px;
  color: #5a8182;
  font-size: 16px;
  font-weight: 600;
}

.header-right a:last-child:hover {
  background-color: #5a8182;
  color: #e3f6fa;
}

/* BANNER */
.banner {
  position: relative;
}

.banner-content {
  width: 100%;
  position: absolute;
  top: 86px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.banner-content a {
  margin-top: 30px;
}

.banner-content span {
  display: block;
}
